<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.version1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="이학내학"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <service
            android:name=".activity.tourGPSService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity
            android:name=".activity.Activity_tour_finish"
            android:label="@string/title_activity_tour_finish"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Activity_photo_mission"
            android:label="@string/title_activity_photo_mission"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"  />
        <activity
            android:name=".activity.Activity_basic_mission"
            android:label="@string/title_activity_basic_mission"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"  />
        <activity
            android:name=".activity.Activity_loc_information"
            android:label="@string/title_activity_loc_informaion"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"  />
        <activity
            android:name=".activity.Activity_univ_introduction"
            android:label="@string/title_activity_univ_introduction"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"  />
        <activity
            android:name=".activity.Activity_eachUniversityMap"
            android:label="@string/title_activity_each_university_map"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"  />
        <activity
            android:name=".activity.Activity_universitiesMap"
            android:label="Activity_universitiesMap"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"  />
        <activity
            android:name=".activity.Activity_loading"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity"
            android:screenOrientation="portrait"  />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="7e9604cbd74d936a423dca3542c8284b" />
    </application>

</manifest>